<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Straw{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43778124-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
   <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>

    <div class="header">
      <h1><a href="/">Straw</a></h1>
      <div>
        <p><strong>Realtime processing framework for Node.js</strong></p>
        <p>Version 0.2.0 &ndash; <a href="https://github.com/simonswain/straw">View on GitHub</a></p>
      </div>
    </div>

    <div class="hero"></div>

    <div class="content">
       {{content}}
    </div>

  </body>
</html>
