<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Straw{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43779164-1', 'strawjs.com');
  ga('send', 'pageview');

</script>

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

   <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>

    <div class="header">
      <h1><a href="/">Straw</a></h1>
      <div>
        <p><strong>Realtime processing framework for Node.js</strong></p>
        <p>Version 0.2.0 &ndash; <a href="https://github.com/simonswain/straw">View on GitHub</a></p>
      </div>
    </div>

    <div class="hero"></div>

    <div class="content">
       {{content}}
    </div>

  </body>
</html>
